.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: 'Roboto', serif;
  font-size: 16px;
  background: #1E252B;
  color: #FFF;
}

.text-center {
  text-align: center;
}

.section-padding {
  padding: 150px 0;
}

.section__title {
  font-size: 45px;
  color: #FFFFFF;
}

