.social-icons {
  display: flex;
}

.header-social-icons {
  gap: 30px;
  margin-top: 254px
}

.telegram {
}

.whatsapp {
}

.footer-social-icons {
  gap: 20px;
  margin-top: 35px;
}

.telegram-footer {
  img {
    height: 25px;
    width: 25px;
  }
}

.whatsapp-footer {
  img {
    height: 25px;
    width: 25px;
  }
}